<div class="text-center mt-3">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>

<div class="container mt-3">

  <form #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <div class="row align-items-first">
      <div class="col form-group">
        <label for="minAge">Age From</label>
        <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" 
          [(ngModel)]="userParams.minAge" name="minAge">
      </div>
      <div class="col form-group">
        <label for="maxAge">Age To</label>
        <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" 
        [(ngModel)]="userParams.maxAge" name="maxAge">
      </div>
      <div class="col form-group">
        <label for="gender">Show: </label>
        <select class="form-control ml-1" style="width: 130px" id="gender" 
          [(ngModel)]="userParams.gender" name="gender">
          <option *ngFor="let gender of genderType" [ngValue]="gender"
          selected={{user.lookingFor}}>{{genderString[gender]}}
          </option>
        </select>
      </div>
      <div class="col form-group">
        <label for="country">Show: </label>
        <select class="form-control ml-1" style="width: 250px" id="country" 
        [(ngModel)]="userParams.country" name="country">
          <option *ngFor="let country of countryType" [ngValue]="country"
          selected={{user.country}}>{{countryString[country]}}
        </option>
        </select>
      </div>
    </div>
    <div class="row align-items-center" style="margin-left:5px">
      <span class="btn-group">
        <button type="button" [(ngModel)]="userParams.orderBy" name="orderBy" 
          class="btn btn-primary" (click)="loadUsers()" btnRadio=false>
          <i class="fa fa-history"></i> Active
        </button>
        <button type="button" [(ngModel)]="userParams.orderBy" name="orderBy"
          class="btn btn-primary" (click)="loadUsers()" btnRadio=true>
          <i class="fa fa-calendar"></i> Newest
        </button>
      </span>
      <button type="submit" class="btn btn-primary" style="margin-left:10px">
        <i class="fa fa-filter"></i> Filter
      </button>
      <button type="button" class="btn btn-info" (click)="resetFilters()"
        style="margin-left:10px"><i class="fa fa-eraser"></i> Reset
      </button>
    </div>
  
  </form>
  <br>

  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
    <app-member-card [user]="user">
    </app-member-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
